
.search-results {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.book-results-card {
    width: 300px;
    border: 2px solid black;
    margin: 40px auto;
}

#title {
    font-size: 20px;
    text-align: center;
}

#photo {
    width: 300px;
    height: auto;
}

#ext-img {
    width: 500px;
    height: auto;
    
    
}

.logo {
    height: 100px;
    width: auto;
    border: 1px solid black;
    border-radius: 50%;
}

.search-form {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

#search-img {
    height: 35px;
}

.submit-button {
    background: none;
    border: none;
    margin-left: -50px;
    margin-top: 15px;
    cursor: pointer;
}

.search-bar {
    width: 600px;
    height: 50px;
    border: 2px solid black;
    border-radius: 100px;
    font-size: 35px;
    text-align: center;
    margin-top: 25px;

}

.navbar {
    display: flex;
    flex-direction: row;
}