{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'inventory/style.css' %}">

<div class="navbar">
    <a href={% url 'home' %}>
        <img src = "{% static 'beans-and-bookmarks.jpeg' %}" class="logo">
    </a>
    <form action="{% url 'search_results' %}" class="search-form">
        <input name = "q" type="text" placeholder="Search" class="search-bar">
        <button type="submit" class="submit-button"><img src="{% static 'search.png' %}" id="search-img"></button>
    </form>
</div>


<h1>Search Results:</h1>



<div class="search-results">
    {% for book in object_list %}
     
    <div class="book-results-card">
        <img src="{{ book.photo.url }}" id="photo">
        <p id="title">{{ book.title }}</p>
        <p id="isbn">ISBN: {{ book.isbn }}</p>
        <p id="price">Price: ${{ book.price }}</p>
    </div>    
    
     {% endfor %}
</div>
